/* CSS Resets */
*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 12px;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* General */

.body {
    flex: 1;
}

.header, .footer {
    padding: 16px 0px;
}

.header, .hero, .footer {
    background-color: #1F1B16;
    color: #f9faf8;
}

.hero, .info, .testimonial, .cta{
    padding: 64px 0;
}

.border {
    max-width: 1200px;
    margin: auto;
    padding: 0 16px;
    box-sizing: border-box;
    display: flex;
}

button {
    background-color: #DA7756;
    color: white;
    padding: 8px 24px;
    border-radius: 6px;
    border-style: none;
    height: fit-content;
    width: fit-content;
}

.card button {
    outline: white solid 2px;
}

/* For header*/

.header{
    border-bottom: 2px solid #DA7756;
}

.header .border {
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* This side is not polished */
/* For hero section */
.hero .border {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.hero .left,
.hero img {
    flex: 1;
    min-width: 0;
}

.hero .left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* For info section */
.info .border {
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.info .title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info .container {
    display: flex;
    gap: 16px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

p {
    text-align: center;
}

/* For testimonial section */
.testimonial {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial .border {
    flex-direction: column;
    align-items: end;
    gap: 8px;
}


/* For CTA */
.cta .border {
    width: 100%;           
}

.card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #DA7756;
    color: #F0EEE6;
    width: 100%;
    border-radius: 12px;
    padding: 32px 0;
}

.card .left {
    display: flex;
    flex-direction: column;
}

/* For footer */
.footer {
    text-align: center;
    padding: 24px 0;
}